.menu {
  background-color: #67AEFC;
  z-index: 1;

  &__list {
    margin: 0;
    padding: 42px 0 50px;
  }

  &__item{
    font-weight: 800;
    font-size: 17px;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 44px;
    text-align: center;
    list-style: none;

    &--link {
      position: relative;
      text-decoration: none;
      color: #fff;

      &::after {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        width: 0;
        height: 1px;
        background-color: #fff;
        transition: width 0.2s;
      }
  
      &:hover::after {
        width: 100%;
      }
    }
  }
}