@import "../../../App.scss";

.navigation {
  display: flex;
  box-sizing: border-box;
  padding: 0 20px 0 12px;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  color: #fff;
  max-width: 1170px;
  margin: auto;

  @include onTablet {
    height: 70px;
  }

  @include onDesktop {
    height: 95px;
  }
}

.nav-container {
  background-color: $standartBlue;
}